@import url('https://fonts.googleapis.com/css2?family=Inder&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
        font-family: ui-sans-serif,Inder;w
}
body{
    background-color: #F7F7FF
}
main{
margin: auto;
    text-align: center;
    font-family: ui-sans-serif,Inder;
}
.basic{
text-align: center;
display: inline-block;
border: 1px solid white;
border-radius: 7px;
padding: 40px;
background-color: rgb(255, 251, 251);
}
.basic p{
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
        color: #666882;

}
.professional{
text-align: center;
display: inline-block;
border: 1px solid white;
border-radius: 7px;
background-color: #9B9FEE;
padding: 60px;
padding-top: 35px;
height: 535px;
}
.professional p{
    padding: 22px;
    font-weight: 700;
    font-size: 20px;
    color: white;
}
.master{
text-align: center;
display: inline-block;
border: 1px solid white;
border-radius: 7px;
padding: 40px;
background-color: rgb(255, 251, 251);

}
.master p{
    padding: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #666882;
}
h1{
    color: rgb(111, 115, 144);
}
button{
    width: 220px;
    height: 40px;
    border: 1px;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 700;
}
.basic button{
    background-color: #9B9FEE;
    color: white;
}
.basic button:hover{
    background-color: rgb(255, 251, 251);
    border: 2px solid rgb(229, 231, 235);
    color: #9B9FEE;
}
.professional hr{
    border: 1px solid white;
    width: 220px;
}
.basic hr{
    border: 1px solid rgb(229, 231, 235);
}
.master hr{
    border: 1px solid rgb(229, 231, 235);
}
.professional button{
    background-color: white;
    color: #9B9FEE;
}
.professional button:hover{
    background-color: #9B9FEE;
    border: 2px solid rgb(229, 231, 235);
    color: white;
}
.master button{
    background-color: #9B9FEE;
    color: white;
}
.master button:hover{
    background-color: rgb(255, 251, 251);
    border: 2px solid rgb(229, 231, 235);
    color: #9B9FEE;
}
